body { height: 100%;
       margin: 0;
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 300; }

.navbar {
  background: #e5e5e5; /*This should be the brand primary color*/
  border-bottom: 2px solid #69579c; /*This should be the brand accent color*/
}

.navbar .navbar-header {
  margin-top: 8px;
  margin-left: 0;
}

.navbar img {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.navbar .navbar-brand {
  float:none;
  vertical-align: middle;
  font-weight: 300;
  font-size: 27px;
  color: #69579c;
}

.container {
  margin-top: 50px;
}

@media (min-width: 768px) {
  #url_or_sha {
    width: 80%;
  }
}